*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

}
@media only screen and (max-width: 1440px){
    body {
        background: url(images/bg_gradient.png);
        background-repeat: no-repeat;
        background-size: 400rem;
        position: relative;
        margin:4rem;
    
    }
    
    #container {
        font-family: "Kumbh Sans", sans-serif;
        font-size:16px;
        font-weight: 400;
        min-width:300px;
        width:500px;
        height:600px;
    
        margin-left: auto;
        margin-right:auto;
    
        background-color:white;
        border-radius: 20px;
    
        display: grid;
        grid-template-rows: 1fr;
        /*grid-template-rows: [row-start] 1fr [row-2] 1fr;*/
        
        grid-template-areas: 
        "a"
        "b";
    }
    
    
    .cover, img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    
    }
    
    img{
        margin:auto;
        width: 100px;
        border-radius: 100%;
    }
    
    .avatarcontainer{
        padding-top:30px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        width: 100px;
    }
    .cover{
        grid-area: a;
        background: rgb(255,14,14);
    background: linear-gradient(214deg, rgb(255, 218, 50) 0%, rgba(255,156,91,1) 50%, rgb(58, 43, 1) 100%);
    height: 400px;

    background-size: 80rem;
    }
    
    
    .info {
     padding: 60px;
        margin-left: auto;
        margin-right: auto;
        color:white;
        grid-area: a;
    
    }
    
    
    .linkscontainer{
        grid-area: b;
        margin:auto;
        
    }
    
    
    h1 {
        color:white;
        text-align: center;
        margin-top: 10px;
        margin-bottom:10px;
    }
    p{
        line-height: 25px;
    }
    
    .website{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #fe7171;
    border-radius: 40px;
    width: 300px;
    font-size: 14px;
    }
    
    a{
        color:  #fe7171;
        text-decoration: none;
        font-weight: 700;
    }
    .github{
        background-color: white;
        padding: 20px;
        margin-bottom: 20px;
        border: 2px solid #fe7171;
        border-radius: 40px;
        width: 300px;
        font-size: 14px;
    }
    
    li{
        display: block;
    }
    
    .links{
      font-weight: 700;
      color:hsl(227, 10%, 46%);
      margin-bottom: 10px;
    }
    

}







@media only screen and (max-width: 500px){
    body {
        background: url(images/bg_gradient.png);
        background-repeat: no-repeat;
        background-size: 400rem;
        position: relative;
        margin:4rem;
    
    
    }
    
    #container {
        font-family: "Kumbh Sans", sans-serif;
        font-size:16px;
        font-weight: 400;
    
        width:250px;
        height:600px;

        margin-left: auto;
        margin-right:auto;
    
        background-color:white;
        border-radius: 20px;
    
        display: grid;
        grid-template-rows: 1fr;
        /*grid-template-rows: [row-start] 1fr [row-2] 1fr;*/
        
        grid-template-areas: 
        "a"
        "b";
    }
    
    .cover, img{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    
    }
    
    img{
        margin:auto;
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
    
    .avatarcontainer{
        padding-top:30px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
        width: 100px;
    }
    .cover{
        grid-area: a;
    height: 400px;

 
    background-size: 80rem;
    }
    
    
    .info {
     padding: 30px;
        margin-left: auto;
        margin-right: auto;
        color:white;
        grid-area: a;
      
        text-align: center;
    }
    
    
    .linkscontainer{
        grid-area: b;
        margin:auto;
        
    }
    
    
    h1 {
        color:white;
        text-align: center;
        margin-top: 10px;
        margin-bottom:20px;
    }
    p{
        line-height: 20px;
        
    }
    
    .website{
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #fe7171;
    border-radius: 40px;
    width: 200px;
    font-size: 14px;
    }
    
    a{
        color:  #fe7171;
        text-decoration: none;
        font-weight: 700;
    }
    .github{
        background-color: white;
        padding: 20px;
        margin-bottom: 20px;
        border: 2px solid #fe7171;
        border-radius: 40px;
        width: 200px;
        font-size: 14px;
    
    }
    
    li{
        display: block;
     
    }
    
    .links{
      font-weight: 700;
      
      color:hsl(227, 10%, 46%);
      margin-bottom: 10px;
    }
    

}
